<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garlicoin.androidwallet" version="1.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Garlicoin Wallet</name>
    <description>
        Garlicoin Wallet
    </description>
    <author email="mpochert@gmail.com" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1a2732" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <icon height="180" src="img/garlicoin_wallet_final.png" width="180" />
    </platform>
    <platform name="android">
        <icon height="180" src="/img/garlicoin_wallet_final.png" width="180" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="phonegap-plugin-push" spec="~1.8.0">
        <variable name="SENDER_ID" value="XXXXXXX" />
    </plugin>
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.1 " />
    <plugin name="phonegap-plugin-barcodescanner" spec="^6.0.8">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="phonegap-plugin-mobile-accessibility" spec="https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <plugin name="cordova-plugin-listpicker" spec="^2.2.2" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
