<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garlicoin.androidwallet" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Garlicoin_Android_Wallet</name>
    <description>
        Garlicoin Android Wallet
    </description>
    <author email="mpochert@gmail.com" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#4c4f53" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <icon src="/img/garlicoin_wallet_final.png" width="180" height="180" />
    </platform>
    <platform name="android">
        <icon src="/img/garlicoin_wallet_final.png" width="180" height="180" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="phonegap-plugin-push" spec="~1.8.0">
        <variable name="SENDER_ID" value="XXXXXXX" />
    </plugin>
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.1 " />
</widget>
