<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garlicoin.androidwallet" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Garlicoin Wallet</name>
    <description>
        Garlicoin Wallet
    </description>
    <author email="mpochert@gmail.com" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="29" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1a2732" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <icon src="resources/ios/180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="resources/ios/60.png" width="60" height="60" />
        <icon src="resources/ios/120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="resources/ios/76.png" width="76" height="76" />
        <icon src="resources/ios/152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="resources/ios/40.png" width="40" height="40" />
        <icon src="resources/ios/80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="resources/ios/57.png" width="57" height="57" />
        <icon src="resources/ios/114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="resources/ios/72.png" width="72" height="72" />
        <icon src="resources/ios/144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="resources/ios/167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="resources/ios/29.png" width="29" height="29" />
        <icon src="resources/ios/58.png" width="58" height="58" />
        <icon src="resources/ios/87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/ios/50.png" width="50" height="50" />
        <icon src="resources/ios/100.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="resources/ios/167.png" width="167" height="167" />
        <!-- iTunes Marketing Image -->
        <icon src="resources/ios/1024.png" width="1024" height="1024" />
    </platform>
    <platform name="android">
        <icon height="180" src="resources/icon.png" width="180" />
        <resource-file src="resources/icon.png" target="app/src/main/res/mipmap/icon.png" />
        <resource-file src="resources/icon.png" target="app/src/main/res/mipmap/ic_launcher.png" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^6.0.8">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-listpicker" spec="^2.2.2" />
</widget>
