.submit_button {
    float: right;
}
.del_button{
    float: left;
}
.del_rename{
    float: left;
}

.submit_button {
    float: right;
}
.listItems{
    margin-bottom: 10px
}
#btnAddAddress{
    margin-bottom: 10px;
}

.liTitle{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

